# Libraries Import

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

import numpy as np # linear algebra
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns 

from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml.feature import VectorAssembler

# Read Files

In [2]:
m_food_retail_price_path = r'D:\ME\Project\RetailCommoditiesPrice\Monthly_Food_Retail_Prices.csv'
m_nonfood_retail_price_path = r'D:\ME\Project\RetailCommoditiesPrice\Monthly_Non_Food_Retail_Prices.csv'
w_food_retail_price_path = r'D:\ME\Project\RetailCommoditiesPrice\Weekly_Food_Retail_Prices.csv'
w_nonfood_retail_price_path = r'D:\ME\Project\RetailCommoditiesPrice\Weekly_Non_Food_Retail_Prices.csv'

In [3]:
conf = pyspark.SparkConf().setMaster("local[*]") \
        .set('spark.executor.heartbeatInterval', 10000) \
        .set('spark.network.timeout', 10000) \
        .set("spark.core.connection.ack.wait.timeout", "3600") \
        .set("spark.executor.memory", '15G') \
        .set("spark.driver.memory", '15G')

spark = SparkSession \
        .builder \
        .appName("Retail-Commodities-Price-PySpark") \
        .config(conf=conf) \
        .getOrCreate()

In [4]:
# Load datasets
m_food_retail_price_raw = spark.read.option("header",True).csv(m_food_retail_price_path)
m_nonfood_retail_price_raw = spark.read.option("header",True).csv(m_nonfood_retail_price_path)
w_food_retail_price_raw = spark.read.option("header",True).csv(w_food_retail_price_path)
w_nonfood_retail_price_raw = spark.read.option("header",True).csv(w_nonfood_retail_price_path)

# Defining Functions

## Metadata

In [5]:
def get_metadata(dataframe):
    cols = dataframe.columns
    print(" STATISTICAL SUMMARY ".center(125, '#'))
    print()
    dataframe.summary().show()
    print(" SIZE OF DATAFRAME ".center(125, '#'))
    print("Rows : ", dataframe.count())
    print("Columns : ", len(dataframe.columns))
    print(" SCHEMA OF THE DATASET ".center(125, '#'))
    dataframe.printSchema()
    print(" NULL VALUE COUNTS ".center(125, '#'))
    print()
    dataframe.select([count(when(col(c).isNull(), c)).alias(c) for c in cols]).show()
    dup_count = dataframe.count()-dataframe.distinct().count()
    print(f" Number of duplicate Rows : {dup_count} ".center(125, '='))
    print()
    print(' SAMPLE VALUES IN EVERY COLUMN '.center(125, '#'))
    for c in cols:
        print(c)
        col_list = [data[0] for data in dataframe.select(f'{c}').distinct().orderBy(col(f'{c}')).collect()]
        print('Number of Distinct Values : ', len(col_list))
        print(col_list[:100])
    print(" TYPES OF COLUMNS ".center(125, '#'))
    print()
    print("Categorical Columns : ", [item[0] for item in dataframe.dtypes if item[1].startswith('string')])
    print("Numerical Columns: ", [item[0] for item in dataframe.dtypes if (item[1].startswith('integer') | item[1].startswith('double'))])
    print()
    # print(" NEGATIVE-VALUED COLUMNS ".center(125, '#'))
    # print()
    # sql_expressions = [f'count(CASE WHEN ({col} < 0) THEN 1 END) AS {col}_count' for col in cols]
    # dataframe.selectExpr(sql_expressions).show()
    print(''.center(125, '#'))

# EDA

## Monthly Food Price

In [6]:
get_metadata(m_food_retail_price_raw)

#################################################### STATISTICAL SUMMARY ####################################################

+-------+--------------+--------------+---------+--------------+----------+--------+--------+-----------------+
|summary|         State|        Centre|Commodity|       Variety|      Unit|Category|    Date|     Retail Price|
+-------+--------------+--------------+---------+--------------+----------+--------+--------+-----------------+
|  count|       1147446|       1147446|  1137726|        941868|   1147446| 1147446| 1147446|           578525|
|   mean|          null|          null|     null|          null|      null|    null|    null|79.69144840758825|
| stddev|          null|          null|     null|          null|      null|    null|    null| 148.780858660517|
|    min|Andhra Pradesh|      Agartala|    Apple|Amul/Any Other|100gm. Pkt|    Food|APR-2001|             0.50|
|    25%|          null|          null|     null|          null|      null|    null|    null|             18.0|
|    50%|          null|          null|     null|          null|      null|    null|    null|             35.0|
|    75%|          null|          null|     null|          null|      null|    null|    null|             80.0|
|    max|   West Bengal|Vishakhapatnam|    Wheat|         Whole|     Peice|    Food|SEP-2020|           998.00|
+-------+--------------+--------------+---------+--------------+----------+--------+--------+-----------------+

##################################################### SIZE OF DATAFRAME #####################################################
Rows :  1147446
Columns :  8
################################################### SCHEMA OF THE DATASET ###################################################
root
 |-- State: string (nullable = true)
 |-- Centre: string (nullable = true)
 |-- Commodity: string (nullable = true)
 |-- Variety: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Retail Price: string (nullable = true)

##################################################### NULL VALUE COUNTS #####################################################

+-----+------+---------+-------+----+--------+----+------------+
|State|Centre|Commodity|Variety|Unit|Category|Date|Retail Price|
+-----+------+---------+-------+----+--------+----+------------+
|    0|     0|     9720| 205578|   0|       0|   0|      568921|
+-----+------+---------+-------+----+--------+----+------------+

============================================== Number of duplicate Rows : 2270 ==============================================

############################################### SAMPLE VALUES IN EVERY COLUMN ###############################################
State
Number of Distinct Values :  30
['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'National Capital', 'Orissa', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Union Territories', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
Centre
Number of Distinct Values :  86
['Agartala', 'Agra', 'Aizwal', 'Allahabad', 'Amritsar', 'Asansol', 'Aurangabad', 'Bangalore', 'Bhatinda', 'Bhawanipatna', 'Bhillai', 'Bhopal', 'Bhubneshwar', 'Bijapur', 'Chandigarh', 'Chennai', 'Chittoor', 'Coimbatore', 'Cuttack', 'Dausa', 'Delhi', 'Dhanbad', 'Dibrugarh', 'Dispur', 'Ernakulam', 'Gandhi Nagar', 'Gangtok', 'Gaya', 'Gorakhpur', 'Guntur', 'Guwahati', 'Gwalior', 'Hajipur', 'Haldwani', 'Hissar', 'Howrah', 'Hubli', 'Hyderabad', 'Imphal', 'Indore', 'Itanagar', 'Jaipur', 'Jalpaiguri', 'Jammu', 'Jodhpur', 'Kanpur', 'Karnal', 'Khozhikode', 'Kohima', 'Kolkata', 'Kurnool', 'Lucknow', 'Ludhiana', 'Madurai', 'Malda', 'Mandi', 'Mumbai', 'Muzaffarpur', 'Nagpur', 'Nasik', 'Panaji', 'Patna', 'Pondicherry', 'Portblair', 'Pune', 'Rajkot', 'Ranchi', 'Rewa', 'Saharanpur', 'Salem', 'Sehore', 'Shillong', 'Shimla', 'Shrinagar', 'Silchar', 'Silvasa', 'Srinagar', 'Surat', 'Swaimadhopur', 'Tambram', 'Tirunelveli', 'Trivandrum', 'Tumkur', 'Udaipur', 'Vadodra', 'Vishakhapatnam']
Commodity
Number of Distinct Values :  47
[None, 'Apple', 'Arhar', 'Atta', 'Bajra', 'Banana', 'Besan', 'Biscuit', 'Black Pepper', 'Bread', 'Brinjal', 'Butter', 'Chicken', 'Coconut', 'Coconut Oil', 'Coffee', 'Coriander', 'Cummin Seed', 'Eggs', 'Fish', 'Ghee', 'Gingelly Oil', 'Gram', 'Groundnut Oil', 'Gur', 'Jowar', 'Maida', 'Maize', 'Masur', 'Meat', 'Milk', 'Moong', 'Mustard Oil', 'Onion', 'Potato', 'Ragi', 'Red Chillies', 'Rice', 'Salt', 'Sugar', 'Suji', 'Tea', 'Tomato', 'Turmeric', 'Urad', 'Vanaspati', 'Wheat']
Variety
Number of Distinct Values :  31
[None, 'Amul/Any Other', 'Brooke Bond Red Label', 'Cat Fish', 'Common', 'Common/Coarse', 'Cow/Buffalo', 'Ctc(loose)', 'Dairy', 'Delicious medium size', 'Desi', 'Dry', 'FAQ', 'Fine', 'Fresh', 'Glucose', 'Instant', 'Kalyan HYV', 'Local', 'Loose(common)', 'Mutton', 'Packet(iodized)', 'Pomphret', 'Poultry', 'Powdered', 'Powdered Agmark', 'Rohu 1Kg Size', 'Split', 'Superfine', 'White', 'Whole']
Unit
Number of Distinct Values :  11
['100gm. Pkt', '250gm. Pkt', '400/800 Gm', '500gm. Pkt', '80gm. Pkt', 'Dozen', 'Kg', 'Kg.', 'Kg/Litre', 'Litre', 'Peice']
Category
Number of Distinct Values :  1
['Food']
Date
Number of Distinct Values :  243
['APR-2001', 'APR-2002', 'APR-2003', 'APR-2004', 'APR-2005', 'APR-2006', 'APR-2007', 'APR-2008', 'APR-2009', 'APR-2010', 'APR-2011', 'APR-2012', 'APR-2013', 'APR-2014', 'APR-2015', 'APR-2016', 'APR-2017', 'APR-2018', 'APR-2019', 'APR-2020', 'AUG-2001', 'AUG-2002', 'AUG-2003', 'AUG-2004', 'AUG-2005', 'AUG-2006', 'AUG-2007', 'AUG-2008', 'AUG-2009', 'AUG-2010', 'AUG-2011', 'AUG-2012', 'AUG-2013', 'AUG-2014', 'AUG-2015', 'AUG-2016', 'AUG-2017', 'AUG-2018', 'AUG-2019', 'AUG-2020', 'DEC-2001', 'DEC-2002', 'DEC-2003', 'DEC-2004', 'DEC-2005', 'DEC-2006', 'DEC-2007', 'DEC-2008', 'DEC-2009', 'DEC-2010', 'DEC-2011', 'DEC-2012', 'DEC-2013', 'DEC-2014', 'DEC-2015', 'DEC-2016', 'DEC-2017', 'DEC-2018', 'DEC-2019', 'DEC-2020', 'FEB-2001', 'FEB-2002', 'FEB-2003', 'FEB-2004', 'FEB-2005', 'FEB-2006', 'FEB-2007', 'FEB-2008', 'FEB-2009', 'FEB-2010', 'FEB-2011', 'FEB-2012', 'FEB-2013', 'FEB-2014', 'FEB-2015', 'FEB-2016', 'FEB-2017', 'FEB-2018', 'FEB-2019', 'FEB-2020', 'FEB-2021', 'JAN-2001', 'JAN-2002', 'JAN-2003', 'JAN-2004', 'JAN-2005', 'JAN-2006', 'JAN-2007', 'JAN-2008', 'JAN-2009', 'JAN-2010', 'JAN-2011', 'JAN-2012', 'JAN-2013', 'JAN-2014', 'JAN-2015', 'JAN-2016', 'JAN-2017', 'JAN-2018', 'JAN-2019']
Retail Price
Number of Distinct Values :  1703
[None, '0.50', '1.00', '1.25', '1.50', '1.60', '1.75', '10.00', '10.10', '10.15', '10.20', '10.25', '10.30', '10.35', '10.40', '10.50', '10.55', '10.60', '10.70', '10.75', '10.80', '10.90', '10.95', '100.00', '100.10', '100.50', '100.55', '100.85', '100.90', '1000.00', '1006.00', '101.00', '101.26', '101.55', '101.75', '1010.00', '1015.00', '1016.70', '102.00', '102.50', '102.80', '1020.00', '1025.00', '1026.00', '103.00', '103.13', '1030.00', '1037.00', '1037.50', '1038.00', '104.00', '104.05', '104.19', '104.25', '104.30', '1040.00', '1045.00', '105.00', '105.30', '105.35', '105.66', '105.81', '1050.00', '106.00', '106.20', '106.66', '1060.00', '1062.00', '1063.00', '1065.00', '107.00', '107.01', '107.43', '107.70', '1070.00', '1071.00', '1072.28', '1072.80', '1075.00', '1076.00', '108.00', '108.98', '1080.00', '109.00', '109.20', '109.25', '1090.00', '1096.00', '11.00', '11.10', '11.15', '11.20', '11.25', '11.30', '11.35', '11.40', '11.50', '11.60', '11.65', '11.70']
###################################################### TYPES OF COLUMNS #####################################################

Categorical Columns :  ['State', 'Centre', 'Commodity', 'Variety', 'Unit', 'Category', 'Date', 'Retail Price']
Numerical Columns:  []

#############################################################################################################################

# Preprocessing